{% extends 'page.html' %}
{% block bodytag %}{{ super() }} class="blog"{% endblock %}
{% block subtitle %}{{ c.page.title }}{% endblock %}

{% block primary_content %}
<section class="module-content">
  {% if h.check_access('ckanext_pages_update') %}
    {% link_for _('Edit'), controller='ckanext.pages.controller:PagesController', action='blog_edit', page='/' + c.page.name, class_='btn btn-primary pull-right', icon='edit' %}
  {% endif %}

<div class="editor-content">

    <h1 class="page-heading">{{ c.page.title }}</h1>
        {% if c.page.publish_date %}
        <span class="muted date"> {{ h.render_datetime_genitive(c.page.publish_date) }} </span>
        {% endif %}
    {% if c.page.content %}
        {% set editor = h.get_wysiwyg_editor() %}
        {% if editor %}
        <div>
            {{c.page.content|safe}}
        </div>
        {% else %}
        {{ h.render_content(c.page.content) }}
        {% endif %}
    {% else %}
        <p class="empty">{{ _('This page currently has no content') }}</p>
    {% endif %}
    {% if c.page.image_url  %}
    <img src="{{ c.page.image_url }}" />
    {% endif  %}

</div>
</section>
{% endblock %}


{% block secondary_content %}
{% set posts = h.get_recent_blog_posts(number=3, exclude=c.page.name) %}

  <div class="module module-narrow module-shallow">
    <div class="module-content">
        <a href="/blog"><i class="fa fa-newspaper-o"></i> {% trans %}All News{% endtrans %}</a>
    </div>
    <h2 class="module-heading">
        {% trans %}Latest News{% endtrans %}
    </h2>
    <div class="module-content">
        <ul class="news-list">
        {% for post in posts %}
            <li>
                    
                        
                        {% if post.publish_date %}
                            <div class="date">{{ h.render_datetime_genitive(post.publish_date) }} </div>
                        {% endif %}
                        <a class="title" href="{{ h.url_for(controller='ckanext.pages.controller:PagesController', action='blog_show', page='/' + post.name) }}"><span></span>{{ post.title or post.name }}</a>
            </li>
        {% endfor %}
        </ul>

       
    </div>
  </div>





{% resource 'ckanext-pages/blog' %}
{% endblock %}