{% set pages_total = pages|length %}
{% set action = '{0}_show'.format(type) %}

{#
{% if type == 'blog' %}
  <h2>{{ _('1 blog article') if pages_total == 1 else _('{0} blog articles').format(pages_total) }}</h2>
{% else %}
  <h2>{{ _('1 page') if pages_total == 1 else _('{0} pages').format(pages_total) }}</h2>
{% endif %}
#}

{% if type == 'blog' %}
  <h1 class="page-heading">{% trans %}News{% endtrans %}</h1>
{% else %}
 <h1 class="page-heading">{% trans %}Pages{% endtrans %}</h1>
{% endif %}

{% if pages %}
  {% set editor = h.get_wysiwyg_editor() %}
    {% for page in pages %}
      {% if id %} {# this is for orgs and groups #}
        {% set url = h.url_for(controller='ckanext.pages.controller:PagesController', action=action, id=id, page='/' + page.name) %}
      {% elif type == 'blog' %}
        {% set url = h.url_for(controller='ckanext.pages.controller:PagesController', action='blog_show', page='/' + page.name) %}
      {% else %}
        {% set url = h.url_for(controller='ckanext.pages.controller:PagesController', action='pages_show', page='/' + page.name) %}
      {% endif %}
      <div class="blog-item">
        <div class="blog-title">
            <a href="{{ url }}" >{{ page.title }}</a>
        </div>
        {% if page.publish_date %}
        <div class="blog-date">
                {{ h.render_datetime_genitive(page.publish_date) }}
        </div>
        {% endif %}
      </div>
    {% endfor %}

{% else %}
    {% if type == 'blog' %}
      <p class="empty">{{ _('There are currently no blog articles here') }}</p>
    {% else %}
      <p class="empty">{{ _('There are currently no pages here') }}</p>
    {% endif %}
{% endif %}
